.edit_profile_wrapper{
    margin:15px;
}

input, textarea {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #555555;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    padding: 7px;
    resize: none;
    width:250px;
    color: #777777;
}

input {
    height: 40px;
}

.edit_profile_wrapper table {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #777777;
}

.edit_wrapper table td {
    padding: 20px 9px 10px 10px
}